.faqcontainer{
  padding-left: 6rem;
}
.cardheader {
  position: relative;
  transition: all 0.3s ease;
}
.cardheader {
  border-radius: 12px;
  border: 1px solid var(--border-primary);
  background: var(--white-color);
  cursor: pointer;
}
.cardheader:hover {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient( 90deg,#ebcb5b 0%,#017ca1 49.5%, #61b946 100%);
  /* border-image-source: url(/images/faq3.svg) round; */
  background: rgba(22, 137, 68, 0.05);
}
.cardtitle {
  margin-bottom: 0;
  color: var(--secondary--color);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  text-align: left;
}
.cardtitle img{
  max-width: 4rem;
}

.cardtitle span {
  margin-right: 1rem;
  color: var(--secondary--color);
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 400;
}

.cardbody {
  width: 85%;
}

.cardbody p {
  color: var(--secondary--color);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  padding-left: 3rem;
}
.collapsed {
  max-height: 0;
}

.expanded {
  max-height: 500px; /* Adjust this value to be more than enough for your content */
}

.transition-max-height {
  transition: ax-height 0.5s ease-in-out;
}
@media only screen and (max-width: 767px) {
.faqcontainer{
  padding-left: 0;
}
}