.cardheader {
  position: relative;
  transition: all 0.3s ease;
}
.cardheader {
  border-radius: 12px;
  border: 1px solid #bbc2cd;
  background: #fff;
  cursor: pointer;
}
.cardheader:hover {
  border-color: #1d3557;
  background: rgba(22, 137, 68, 0.05);
}
.cardtitle {
  margin-bottom: 0;
  color: #1d3557;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

.cardtitle span {
  margin-right: 15px;
  font-weight: 400;
}

.cardbody {
  width: 85%;
}

.cardbody p {
  color: #1d3557;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  padding-left: 25px;
}
