.newhomesection {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.homevideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.homevideo video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hometext {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
}

.linearrow {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.maintitle {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 4rem;
  text-align: center;
  color: var(--white-color);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 767px) {
  .hometext :global(.newPrimarybtn) {
    font-size: 1.3rem;
  }
}