.servicesbox {
  text-align: center;
  position: relative;
  /* border-right: 1px solid var(--border-primary); */
  /* border-top: 1px solid var(--border-primary); */
  padding: 4.5rem 1rem;
}

/* .servicerightborder {
  border-right: none !important;
} */

.serviceBorder {
  border-top: 1px solid var(--border-primary);
  border-right: 1px solid var(--border-primary);
}

.serviceBorder:nth-child(-n+3) {
  border-top: 1px solid transparent;
}

.serviceBorder:nth-child(3n) {
  border-right: 1px solid transparent;
}

.servicesbox .icon {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgba(40, 74, 121, 0.8) 0%,
    rgba(29, 53, 87, 0.8) 100%
  );
  line-height: 5rem;
  margin-bottom: 2.5rem;
  border-radius: 100px;
  outline: 6px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicesbox .icon img {
  max-width: 2.5rem;
}

.servicesbox:hover .icon {
  border-radius: 100px;
  outline: 6px solid rgba(22, 137, 68, 0.5);
  background: var(--secondary--color);
}

.servicesbox .servicetitle {
  color: var(--secondary--color);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 0.48px;
  margin-bottom: 1.25rem;
  text-transform: capitalize;
}

/* .featureservices .servicesbox .servicetitle {
  font-size: 1.1rem;
  line-height: 1.3rem;
} */

.featureservices .servicesbox {
  padding: 2.5rem 1rem;
}

.servicesbox .servicedescribe {
  color: var(--secondary--color);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
}

.textpadding {
  padding-inline: 3rem;
}

.servicesinnerbox {
  transition: 0.8s;
  /* margin-bottom: 2rem; */
}

.servicesbox:hover .servicesinnerbox {
  transform: translateY(-20px);
}

.servicesbox .moresection {
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
}

.servicesbox .moresection a {
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  background: linear-gradient(
    90deg,
    var(--primary-color) 0.08%,
    var(--primary-variant-one) 99.95%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.4rem;
  text-transform: uppercase;
  border-bottom: 2px solid var(--primary-color);
}

.servicesbox:hover .moresection a {
  transform: translateY(0px);
  opacity: 1;
}

.border-r-transparent {
  border-right: transparent;
}
.border-b-transparent {
  border-bottom: transparent;
}

@media only screen and (max-width: 1560px) {
  .featureservices .servicesbox .servicetitle {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
  }

  .servicesbox .servicedescribe {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 1023px) {
  .simpleservices .servicesbox {
    width: 90%;
    margin: 0 auto 20px;
    padding-top: 40px;
    /* border: 1px solid var(--border-primary) !important;
    border-right: 1px solid var(--border-primary) !important; */
  }
}

@media only screen and (max-width: 767px) {
  .servicesbox {
    width: 90%;
    margin: 0 auto 20px;
    padding-top: 40px;
    /* border: 1px solid var(--border-primary) !important;
    border-right: 1px solid var(--border-primary) !important; */
  }

  .responsiveBottomBorder {
    border-bottom: 1px solid var(--border-primary) !important;
  }

  .responsiveBottomBorder:last-child {
    border-bottom: 1px solid transparent !important;
  }
}
