.resourceSolutionBox {
    margin-bottom: 2.5rem;
    column-gap: 2rem;
    transition: 0.5s ease-in-out all;
}

.solutiontext {
    padding: 1.25rem 1rem 1.25rem 2rem;
    border-radius: 12px;
    background: #E5F6E7;
    border: 1px solid var(--border-quinary);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.02);
    transition: 0.5s ease-in-out all;
}

.solutiontext:hover {
    background: var(--white-color);
    outline: 1px solid var(--border-quinary);
    box-shadow: 2px 6px 8px 2px rgba(0, 0, 0, 0.05);
}

.solutiontext h3 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 4rem;
    transition: 0.5s ease-in-out all;
    background: linear-gradient(90deg, var(--primary-color) 0.08%, var(--primary-variant-one) 99.95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resourceSolutionBox:hover .solutiontext h3 {
    color: #9b9fa7;
}


.solutiontext p,
.solutiontext p b {
    color: var(--secondary--variant-one);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 3.2rem;
    letter-spacing: 0.24px;
    margin-bottom: 0;
}

.solutiontext p b {
    font-weight: 600;
}

.solutionGreenArea {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.60) 100%), var(--primary-background);
    padding: 2rem 0;
    border-radius: 12px;
    background: var(--secondary--variant-one);
    border: 1px solid var(--border-quinary);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.02);
    transition: 1s ease-in-out all;
    flex: 0 0 48%;
    max-width: 48%;
}

.solutionGreenArea:hover {
    border: 1px solid #2b9945;
    box-shadow: 2px 6px 8px 2px rgba(0, 0, 0, 0.05);
    background: var(--secondary--color);
}

.solutionGreenArea .inlineArea {
    border-radius: 0px 12px 12px 0px;
    background: var(--white-color);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
    width: 95%;
}

.solutionGreenArea .scaleAnimate {
    transition: 0.5s ease-in-out all;
    display: flex;
    align-items: center;
}

.solutionGreenArea:hover .scaleAnimate {
    transform: translateX(20px);
}

.resourceSolutionBox .col-lg-8 {
    padding-right: 0;
}

.solutionGreenArea .inlineArea b {
    color: var(--secondary--color);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3.2rem;
    letter-spacing: 0.24px;
}

.solutionGreenArea .inlineArea img {
    margin: 0 1rem 0 1.25rem;
}

.solutionGreenArea p {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 3.2rem;
    letter-spacing: 0.24px;
    padding: 1.25rem 2.5rem 0;
}



@media only screen and (max-width: 767px) {
    .resourceSolutionBox{
        flex-direction: column;
        row-gap: 20PX;
    }
    .solutionGreenArea {
        max-width: 100%;
    }
}
