.herocontainer :global(.title-section h2) {
  margin-bottom: 2rem;
  text-align: left;
  font-weight: 700;
}

.herocontainer :global(.title-section p) {
  margin-bottom: 4rem;
  text-align: left;
  font-size: 2.2rem;
  line-height: 4rem;
}

.techherocontainer :global(.title-section h2) {
  margin: 2rem 0;
  font-weight: 700;
}

.techherocontainer :global(.title-section p) {
  font-size: 2.4rem;
  line-height: 4rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.label {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600;
  /* line-height: 4rem; */
  text-align: left;
  color: var(--secondary--color);
  opacity: 0.5;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.imagecontainer {
  display: flex;
  justify-content: center;
}

.imagecontainer img {
  max-width: 350px;
}

.herocontainer :global(a) {
  margin-left: inherit;
  margin-right: auto;
}

.techimgcontainer {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.techherocontainer {
  position: relative;
  z-index: 5;
}

.formcirlerotate {
  position: absolute;
  top: -6rem;
  left: -2rem;
}

.formcirlerotate img {
  animation: spin 30s linear infinite;
  margin-left: auto;
  max-width: 14rem;
}

@keyframes spin {
  from {
    transform: rotate(-0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@media only screen and (max-width: 767px) {
  .label {
    margin-bottom: 1.5rem;
  }

  .herocontainer :global(.title-section h2) {
    font-size: 2.5rem;
    line-height: unset;
  }
  .herocontainer :global(.title-section p) {
    font-size: 1.8rem;
    line-height: unset;
  }

  .techherocontainer :global(.title-section h2) {
    font-size: 2.5rem;
    line-height: unset;
  }
  .techherocontainer :global(.title-section p) {
    font-size: 1.8rem;
    line-height: unset;
    width: 100%;
  }
}