.title-section {
  text-align: center;
  margin-bottom: 6px;
}

.singleLine h1,
.singleLine p {
  display: inline; /* Make title and subtitle inline */
  margin-right: 0.5rem; /* Optional: Add some space between title and subtitle */
}

.maintitle {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4.25rem;
  color: var(--white-color);
  text-align: center;
}

.maintitle.maindarktitle {
  color: var(--secondary--color);
}

.maintitlespan span {
  background: linear-gradient(90deg, var(--primary-color) 0.08%, var(--primary-variant-one) 99.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  border-bottom: 3px solid var(--primary-variant-one);
}

.subtitle {
  color: var(--secondary--color);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.75rem;
  text-align: center;
}

.herocontainer :global(.title-section h1) {
  margin-bottom: 2rem;
  text-align: left;
  font-weight: 600;
  font-size: 2.3rem;
}

.herocontainer :global(.title-section p) {
  margin-bottom: 4rem;
  text-align: left;
  font-size: 2.2rem;
  line-height: 4rem;
}

.techstartpcontainer :global(.title-section h1) {
  margin-bottom: 2rem;
  text-align: left;
  font-weight: 600;
  font-size: 2.3rem;
  line-height: 3.5rem !important;
  width: 80%;
}

.techstartpcontainer :global(.title-section p) {
  margin-bottom: 4rem;
  text-align: left;
  font-size: 2.2rem;
  line-height: 2.5rem !important;
  width: 90%;
}

.techherocontainer :global(.title-section h1) {
  margin: 2rem 0;
  font-weight: 700;
}

.techherocontainer :global(.title-section p) {
  font-size: 2.4rem;
  line-height: 4rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.label {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600;
  /* line-height: 4rem; */
  text-align: left;
  color: var(--secondary--color);
  opacity: 0.5;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.imagecontainer {
  display: flex;
  justify-content: center;
}

.imagecontainer img {
  max-width: 500px;
  width: 100%;
}

.herocontainer :global(a),
.techstartpcontainer :global(a) {
  margin-left: inherit;
  margin-right: auto;
}

.techimgcontainer {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.techherocontainer {
  position: relative;
  z-index: 5;
}

.formcirlerotate {
  position: absolute;
  top: -6rem;
  left: -2rem;
}

.formcirlerotate img {
  animation: spin 30s linear infinite;
  margin-left: auto;
  max-width: 14rem;
}

@keyframes spin {
  from {
    transform: rotate(-0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@media only screen and (max-width: 768px) {
  .label {
    margin-bottom: 1.5rem;
  }

  .herocontainer :global(.title-section h1) {
    font-size: 2.5rem;
  }
  .herocontainer :global(.title-section p) {
    font-size: 1.8rem;
  }

  .techstartpcontainer :global(.title-section h1) {
    font-size: 2.5rem;
  }
  .techstartpcontainer :global(.title-section p) {
    font-size: 1.8rem;
  }

  .techherocontainer :global(.title-section h1) {
    font-size: 2.5rem;
  }
  .techherocontainer :global(.title-section p) {
    font-size: 1.8rem;
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .label {
    margin-bottom: 1.2rem;
  }

  .herocontainer :global(.title-section h1) {
    font-size: 2.2rem;
  }
  .herocontainer :global(.title-section p) {
    font-size: 1.5rem;
  }

  .techstartpcontainer :global(.title-section h1) {
    font-size: 2.2rem;
  }
  .techstartpcontainer :global(.title-section p) {
    font-size: 1.5rem;
  }

  .techherocontainer :global(.title-section h1) {
    font-size: 2.2rem;
  }
  .techherocontainer :global(.title-section p) {
    font-size: 1.5rem;
    width: 100%;
  }
}
