@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #168944;
  /* --primary-color: var(--primary-color); */
  --primary-variant-one: #40aa46;
  --primary-variant-two: #0a843f;
  --primary-background: #e7f8ea;
  --secondary--color: #1d3557;
  --secondary--variant-one: #344968;
  --white-color: #fff;
  --border-primary: #bbc2cd;
  --border-secondary: #e8ebee;
  --border-ternary: #e6e6e6;
  --border-quaternary: #8e9aab;
  --border-quinary: #94cc7c;
  --bg-primary: #f8fafb;
  --bg-secondary: #f2f5f9;
  --bg-ternary: #fafbfc;
  --bg-quaternary: #e3f3e6;
  --bg-footer: #182d4a;
  --footer--primary: #bfcfd9;
  --red--primary: #f13c31;
  --slick--arrow: #545960;
  --text-casestudy: #262626;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: "Montserrat" !important;
}

html {
  scroll-behavior: smooth;
}

.tm-section {
  position: relative;
  overflow: hidden;
  padding: 5rem 0;
}

@media only screen and (min-width: 1920px) {
  #__next .container {
    padding-inline: 0;
  }
}

@media only screen and (max-width: 1920px) {
  html {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 10px !important;
  }
}
