@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #168944;
  --primary-variant-one: #40AA46;
  --primary-variant-two: #0a843f;
  --primary-background: #E7F8EA;
  --secondary--color: #1D3557;
  --secondary--variant-one: #344968; 
  --white-color: #fff;
  --border-primary: #BBC2CD;
  --border-secondary: #E8EBEE;
  --border-ternary: #e6e6e6;
  --border-quaternary: #8E9AAB;
  --border-quinary: #94CC7C; 
  --bg-primary: #f8fafb;
  --bg-secondary: #f2f5f9;
  --bg-ternary: #FAFBFC;
  --bg-quaternary: #e3f3e6;
  --bg-footer: #182d4a;
  --footer--primary: #BFCFD9;
  --red--primary: #f13c31;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-size: 16px;
  font-family: "Montserrat" !important;
}

html {
  scroll-behavior: smooth;
}


@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}

.tm-section {
  position: relative;
  overflow: hidden;
  padding: 6rem 0;
}


@media only screen and (min-width: 1920px) {
  #__next .container{
    padding-inline: 0;
  }
}
@media only screen and (max-width: 1920px) {
  html {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 8px !important;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 7px !important;
  }
}
