.projectslidewrapper {
  border-radius: 20px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    #e8ebee;
  padding: 7.5rem 0px;
}
.projectslidewrapper .projectimg{
    padding-right: 2rem;
}
.majorsliderwrapper .projectimg{
    padding-right: 6rem;
}
.projectimg img {
  width: 100%;
}
.majorsliderwrapper :global(.slick-list) {
  overflow: visible;
}
