.casebox {
  position: relative;
  padding: 2rem;
  transition: width 1s ease-in-out;
  background:
    linear-gradient(0deg, var(--white-color) 0%, var(--white-color) 100%),
    lightgray 50% / cover no-repeat;
  display: flex !important;
  width: auto !important;
  border: 1px solid;
  border-image-slice: 1;

  border-image-source: linear-gradient(90deg, #ebcb5b 0%, #017ca1 49.5%, #61b946 100%);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.casebox .textarea {
  flex: 1.5;
  padding-right: 2rem;
}

.casebox .resultarea {
  flex: 1;
  border-left: 1px solid #c0c0c0;
  padding-left: 2rem;
  max-width: 43rem;
}

.casebox .textarea p {
  padding: 2.5rem 0;
  color: var(--secondary--color);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2.2rem;
}

.caseslide {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  flex-wrap: wrap;
}

.techusetext {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.techusetext li {
  display: flex;
  align-items: center;
  color: var(--secondary--color);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 0.6rem;
}

.techusetext li img {
  margin-right: 0.8rem;
  width: 1.25rem;
}

.casebox .readmore {
  position: absolute;
  bottom: 2rem;
}

.readmore {
  margin: 0;
  transition: 0.5s;
  background: linear-gradient(90deg, var(--primary-color) 0.08%, var(--primary-variant-one) 99.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid var(--primary-color);
}

.resultview h4 {
  color: var(--secondary--color);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 1rem 0;
}

.successratiobox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  padding: 0;
  list-style-type: none;
}

.successratiobox li {
  padding: 1rem 1.8rem;
  border-radius: 15px;
  background: var(--white-color);
  border: 1px solid var(--border-ternary);
  box-shadow:
    0 0 0 1px rgba(203, 132, 12, 0.1),
    0 1px 3px 0 rgba(119, 105, 83, 0.2);
}

.successratiobox li p {
  color: var(--secondary--variant-one);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
}

.successratiobox li span {
  color: var(--secondary--color);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
}

.resultarea .videoarea video {
  height: 90%;
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 40px;
}

.client-slide-wrapper .slick-arrow {
  position: absolute;
  z-index: 99;
  bottom: -8rem;
  cursor: pointer;
}

.client-slide-wrapper .slick-next {
  left: 11rem;
}

.right-aling-btn {
  margin-right: 0;
}

.video-area video {
  object-fit: initial;
  width: 100%;
  height: 520px;
  border-radius: 10px;
}

.videoarea {
  position: relative;
}

.videoarea .playbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: var(--white-color);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out all;
  display: none !important;
  align-items: center;
  justify-content: center;
}

.videoarea .playbtn:hover {
  background: #f13c31;
}

.videoarea .playbtn:hover svg path {
  fill: var(--white-color);
}

.slick-slide {
  width: auto !important;
}

.readmore {
  margin: 0;
  transition: 0.5s;
  background: linear-gradient(90deg, var(--primary-color) 0.08%, var(--primary-variant-one) 99.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-transform: uppercase;
  border-bottom: 2px solid var(--primary-color);
  position: absolute;
  bottom: 2rem;
  cursor: pointer;
}

.tabContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  gap: 1.25rem;
}

.tabButton {
  color: var(--secondary--color);
  border: 1px solid var(--border-primary);
  border-radius: 88px;
  padding: 1.1rem 2rem;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.01em;
  text-align: left;
  transition: background-color 0.3s ease;
  width: fit-content;
}
.viewbtn {
  padding-inline: 4rem;
}

.tabButton:hover {
  /* background-color: #e0e0e0; */
}

.activeTab {
  background: linear-gradient(to right, var(--primary-color), var(--primary-variant-one));
  color: var(--white-color);
}
@media only screen and (max-width: 767px) {
  .casebox {
    flex-direction: column;
    row-gap: 40px;
    margin-left: 2rem;
    padding-bottom: 50px;
  }
  .casebox .resultarea {
    border-left: none;
    padding-left: 0;
  }
}
