.maintitle {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4.25rem;
  text-align: center;
  color: var(--white-color);
}
.maintitle.maindarktitle {
  color: var(--secondary--color);
}
.maintitlespan span {
  background: linear-gradient(90deg, var(--primary-color) 0.08%, var(--primary-variant-one) 99.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  border-bottom: 3px solid var(--primary-variant-one);
}
.subtitle {
  color: var(--secondary--color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.75rem;
  text-align: center;
}
