.techstartupbox {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.techstartupbox h1 {
  text-align: left;
  font-size: 40px;
  font-weight: 600;
}

.techstartupbox li {
  padding-bottom: 20px;
  color: var(--secondary--color);
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.6rem;
  letter-spacing: 0.24px;
  transition: 0.5s ease-in-out;
}

.techstartupbox li span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.techstartupbox li span img {
  margin-right: 10px;
}

.techstartupbox li:hover {
  transform: translateX(10px);
  text-decoration: underline;
}
