.casebox {
  position: relative;
  padding: 2rem;
  margin-right: 2rem;
  border: 1px solid var(--border-primary);
  transition: width 1s ease-in-out;
  background:
    linear-gradient(0deg, var(--white-color) 0%, var(--white-color) 100%),
    lightgray 50% / cover no-repeat;
  display: flex !important;
  width: auto !important;
  margin-bottom: 10px;
}

.activeSlide.casebox {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #f9fcf8 0, #f9f9fc 49%, #f9fbfe 100%);
  border: 1px solid #ebcb5b;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #ebcb5b 0%, #017ca1 50%, #61b946 100%);
}

.casebox .textarea {
  flex: 1;
  padding-right: 2rem;
}

.casebox .resultarea {
  flex: 1.5;
  border-left: 1px solid #c0c0c0;
  padding-left: 2rem;
  max-width: 43rem;
}

.casebox .textarea p {
  padding: 2.5rem 0;
  color: var(--secondary--color);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2rem;
}

.techusetext {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.techusetext li {
  display: flex;
  align-items: flex-start;
  color: var(--secondary--color);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 0.6rem;
}

.techusetext li img {
  margin-right: 0.8rem;
  width: 1.25rem;
  position: relative;
  top: 8px;
}

.casebox .readmore {
  position: absolute;
  bottom: 2rem;
}

.readmore {
  margin: 0;
  transition: 0.5s;
  background: linear-gradient(90deg, var(--primary-color) 0.08%, var(--primary-variant-one) 99.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid var(--primary-color);
}

.resultview h4 {
  color: var(--text-casestudy);
  font-size: 1.4rem;
  font-weight: 700;
  /* line-height: 2rem; */
  margin: 1rem 0;
}

.successratiobox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
  padding: 0;
  list-style-type: none;
}

.successratiobox li {
  padding: 0.5rem 1.2rem;
  border-radius: 15px;
  background: var(--white-color);
  border: 1px solid var(--border-ternary);
}

.successratiobox li p {
  color: var(--secondary--variant-one);
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0;
}

.successratiobox li span {
  color: var(--secondary--color);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
}

.resultarea .videoarea video {
  height: 90%;
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 40px;
}

.client-slide-wrapper .slick-arrow {
  position: absolute;
  z-index: 99;
  bottom: -8rem;
  cursor: pointer;
}

.client-slide-wrapper .slick-next {
  left: 11rem;
}

.right-aling-btn {
  margin-right: 0;
}

.video-area video {
  object-fit: initial;
  width: 100%;
  height: 520px;
  border-radius: 10px;
}

.videoarea {
  position: relative;
}

.videoarea .playbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: var(--white-color);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out all;
  display: none !important;
  align-items: center;
  justify-content: center;
}

.videoarea .playbtn:hover {
  background: #f13c31;
}

.videoarea .playbtn:hover svg path {
  fill: var(--white-color);
}

.slick-slide {
  width: auto !important;
}

.readmore {
  margin: 0;
  transition: 0.5s;
  background: linear-gradient(90deg, var(--primary-color) 0.08%, var(--primary-variant-one) 99.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-transform: uppercase;
  border-bottom: 2px solid var(--primary-color);
  position: absolute;
  bottom: 2rem;
}

.caseslide :global(.slick-list) {
  overflow: visible;
}

.caseslide :global(.slick-arrow) {
  position: absolute;
  z-index: 99;
  top: auto;
  bottom: -3.125rem;
  padding-bottom: 30px;
  cursor: pointer;
  width: 5rem;
}

.caseslide :global(.slick-arrow svg) {
  height: 5rem;
  width: 5rem;
  max-width: 5rem;
  border-radius: 100%;
  transition: all 0.5s ease;
}

.caseslide :global(.slick-arrow:hover svg) {
  background: var(--slick--arrow);
}

.caseslide :global(.slick-arrow:hover svg path) {
  stroke: var(--white-color);
}

.caseslide :global(.slick-arrow::before) {
  opacity: 0;
}

.caseslide :global(.slick-next) {
  left: 7rem;
}

.caseslide :global(.slick-prev) {
  left: 0;
}

.casestudyparent :global(.viewallbtn a) {
  margin-left: auto;
  margin-right: initial;
}

@media only screen and (max-width: 992px) {
  .successratiobox li span {
    display: block;
    min-height: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .casebox {
    flex-direction: column;
    row-gap: 40px;
    padding-bottom: 50px;
    padding-inline: 1rem;
  }

  .successratiobox {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .casebox .resultarea {
    border-left: none;
    padding-left: 0;
  }

  .techusetext li img {
    top: 2px;
  }

  .casebox .textarea {
    padding-right: 0;
    min-height: 310px;
  }
  .textarea img {
    max-width: 120px;
  }
  .successratiobox li span {
    min-height: auto;
  }

  .casebox .readmore {
    position: relative;
    bottom: 0rem;
  }
}
