.sliderContainer {
  height: 280px;
  width: 500px;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid #ebcb5b;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #ebcb5b 0%, #017ca1 50%, #61b946 100%);
}

@media only screen and (max-width: 768px) {
  .sliderContainer {
    height: 200px;
    width: 350px;
    max-width: 100%;
  }

  .sliderContainer img {
    width: 350px;
    max-width: 100%;
  }
}

/* @media only screen and (max-width: 320px) {
  .sliderContainer {
    height: 145px;
    width: 250px;
  }
  .sliderContainer img {
    width: 250px;
  }
} */

@media only screen and (max-width: 425px) {
  .sliderContainer {
    height: 190px;
    width: 340px;
  }

  .sliderContainer img {
    width: 340px;
  }
}

@media only screen and (max-width: 375px) {
  .sliderContainer {
    height: 160px;
    width: 280px;
  }

  .sliderContainer img {
    width: 280px;
  }
}

@media only screen and (max-width: 320px) {
  .sliderContainer {
    height: 130px;
    width: 230px;
  }

  .sliderContainer img {
    width: 230px;
  }
}
