.maintitle {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  text-align: center;
  color: #fff;
}
.maintitle.maindarktitle {
  color: #1d3557;
}
.maintitlespan span {
  background: linear-gradient(90deg, #168944 0.08%, #40aa46 99.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  border-bottom: 3px solid #40aa46;
}
.subtitle {
  color: #1d3557;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.5rem;
  text-align: center;
}
.methodologytitle h2 {
  margin-bottom: 1.25rem;
}
.methodologytitle p {
  margin-bottom: 3.8rem;
}
.methodologytitle h2 {
  margin-bottom: 1.25rem;
}
.methodologytitle p {
  width: 66%;
  margin: 0 auto 3.8rem;
}
.servicestitle h2 {
  margin-bottom: 4rem;
}
.servicestitle p {
  margin-bottom: 0.6rem;
}

.casestudytitle h2 {
  text-align: left;
  margin-bottom: 1.25rem;
}
.casestudytitle p {
  position: relative;
  text-align: left;
  padding-left: 7rem;
  margin-bottom: 5rem;
}
.casestudytitle p::before {
  content: "";
  width: 6rem;
  height: 4px;
  position: absolute;
  left: 0;
  background: linear-gradient(#168944 100%, #40aa46 100%);
  top: 17px;
}
.meetdivresetitle h2 {
  margin-bottom: 5rem;
}
.clienttitle p {
  margin-bottom: 0.6rem;
}
.clienttitle h2 {
  margin-bottom: 5rem;
}
.achievementtitle h2 {
  margin-bottom: 1.2rem;
}
.achievementtitle p {
  margin-bottom: 5rem;
}
.achievementtitle p span {
  display: block;
  font-size: 2rem;
  color: #168944;
  font-weight: 700;
}
.faqtitleh2 {
  margin-bottom: 5rem;
}
.awardtitle h2 {
  margin-bottom: 5rem;
}
.guaranteetitle h2 {
  margin-bottom: 5rem;
}

.casestudylisttitle h2 {
  margin-bottom: 2rem;
}
.casestudylisttitle p {
  margin: 0 auto 5rem;
  max-width: 50%;
}
.casestudydetailtitle h2 {
  margin-bottom: 2rem;
  color: #fff !important;
}
.casestudydetailtitle p {
  margin: 0 auto 5rem;
  max-width: 60%;
  color: #fff;
  font-size: 2.25rem;
  line-height: 3.5rem;
}
.businessimpacttitle h2 {
  color: #fff !important;
}
.businessimpacttitle p {
  color: #fff;
  width: 75%;
  margin-inline: auto;
}
.problemstatementtitle h2 {
  text-align: left;
}
.majorscreentitle h2 {
  color: #fff !important;
  margin-bottom: 5rem;
}
.featurestitle h2 {
  margin-bottom: 5rem;
}
.Challengessolutionstitle h2 {
  margin-bottom: 5rem;
}
.herosectiontitle h2{
  margin-bottom: 2rem;
  text-align: left;
}
.herosectiontitle p{
  margin-bottom: 4rem;
  text-align: left;
  font-size: 2.2rem;
  line-height: 4rem;
}