.iconTextArea .inlineIcon {
  display: flex;
  align-items: center;
}

.iconTextArea {
  margin-bottom: 2.5rem;
}

.iconTextArea:last-child {
  margin-bottom: 0;
}

.iconTextArea .inlineIcon h4 {  
  margin-bottom: 1rem;
  color: var(--secondary--color);
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.6rem;
  margin-left: 20px;
}

.iconTextArea p {
  color: var(--secondary--color);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.2rem;
  width: 80%;
  padding-left: 3.5rem;
}

.checkicon{
  width: 2rem;
}
.checkicon img{
  width: 2rem;
}

.problemStatement{
  display: flex;
  align-items: flex-start;
}
.problemStatement.iconTextArea p {
  padding-left: 1.5rem;
  font-size: 2rem;
  line-height: 3rem;
  width: 100%;
  font-weight: 400;
}
.problemStatement.iconTextArea .inlineIcon h4 {  
  margin: 0;
}  
.problemStatement .checkicon{
  position: relative;
  top: 12px;
}


@media only screen and (max-width: 992px) {
  .iconTextArea .inlineIcon h4{
    margin-left: 10px;
  }
  .iconTextArea p{
    width: 100%;
  }
  .iconTextArea {
    margin-bottom: 2rem;
  }
}