/* .title-text-left {
  text-align: left;
}

.title-text-left .start-line {
  width: 84%;
  position: relative;
}

.title-text-left .start-line:before {
  content: "";
  width: 100px;
  height: 4px;
  position: absolute;
  left: -7.2rem;
  background: linear-gradient(#168944 100%, #40aa46 100%);
  top: 17px;
} */

.casebox {
  position: relative;
  padding: 2rem;
  margin-right: 2rem;
  border: 1px solid #bbc2cd;
  transition: width 1s ease-in-out;
  background: linear-gradient(0deg, #fff 0%, #fff 100%),
    lightgray 50% / cover no-repeat;
  display: flex !important;
  width: auto !important;
}

.activeSlide.casebox {
  background: radial-gradient(
    347.79% 137.52% at 0% 0%,
    #f3f3dd 0%,
    #e1e3ef 35%,
    #e4f4e9 74%,
    #f1e1f1 100%
  );
  border: 1px solid #ebcb5b;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.casebox .textarea {
  flex: 1;
}

.casebox .resultarea {
  flex: 1;
  border-left: 1px solid #c0c0c0;
  padding-left: 2rem;
}

/* .resultarea {
  border-left: 1px solid #c0c0c0;
  transition: all 1s ease-in-out;
  width: 600px;
  padding-left: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
} */


.casebox .textarea p {
  padding: 2.5rem 0;
  color: #1d3557;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
}

.techusetext {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.techusetext li {
  display: flex;
  align-items: center;
  color: #1d3557;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
}

.techusetext li img {
  margin-right: 10px;
}

.casebox .readmore {
  position: absolute;
  bottom: 2rem;
}

.readmore {
  margin: 0;
  transition: 0.5s;
  background: linear-gradient(90deg, #168944 0.08%, #40aa46 99.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid #168944;
}

.resultview h4 {
  color: #262626;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 1rem 0;
}

.successratiobox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  padding: 0;
  list-style-type: none;
}

.successratiobox li {
  padding: 1rem 1.8rem;
  border-radius: 15px;
  background: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 0 1px rgba(203, 132, 12, 0.1),
    0 1px 3px 0 rgba(119, 105, 83, 0.2);
}

.successratiobox li p {
  color: #262626;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
}

.successratiobox li span {
  color: #262626;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
}

.resultarea .videoarea video {
  height: 200px;
  width: 90%;
  margin: 0 auto;
  display: block;
  border-radius: 40px;
}



.client-slide-wrapper .slick-arrow {
  position: absolute;
  z-index: 99;
  bottom: -8rem;
  cursor: pointer;
}

.client-slide-wrapper .slick-next {
  left: 11rem;
}

.right-aling-btn {
  margin-right: 0;
}

.video-area video {
  object-fit: initial;
  width: 100%;
  height: 520px;
  border-radius: 10px;
}

.videoarea {
  position: relative;
}

.videoarea .playbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoarea .playbtn:hover {
  background: #f13c31;
}

.videoarea .playbtn:hover svg path {
  fill: #ffffff;
}

.slick-slide {
  width: auto !important;
}

.readmore {
  margin: 0;
  transition: 0.5s;
  background: linear-gradient(90deg, #168944 0.08%, #40aa46 99.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-transform: uppercase;
  border-bottom: 2px solid #168944;
  position: absolute;
  bottom: 2rem;
}

@media only screen and (max-width: 767px) {
  .casebox {
    flex-direction: column;
    row-gap: 40px;
    margin-left: 2rem;
    padding-bottom: 50px;
  }
  .casebox .resultarea {
    border-left: none;
    padding-left: 0;
  }
  
}
