.meet-section {
  position: relative;
}

.right-meet-circle img {
  position: absolute;
  right: 0;
}

.meetgridicon ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.meetgridicon ul li {
  text-align: center;
  padding: 2rem 1.25rem;
  border: 1px solid var(--border-secondary);
  background: var(--white-color);
  transition: 0.5s ease-in-out all;
}

.meetgridicon ul li:hover {
  border: 1px solid var(--border-quaternary);
  background: var(--bg-ternary);
}

.meetgridicon ul li img {
  margin-bottom: 1rem;
  object-fit: contain;
  transition: 0.5s;
}

.meetgridicon ul li:hover img {
  transform: scale(1.1);
}

.meetgridicon ul li p {
  color: var(--secondary--color);
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2.5rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {
  .meetgridicon ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 640px) {
  .meetgridicon ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
