.sliderTrack {
  display: flex;
  animation: scroll 20s linear alternate infinite;
}

.sliderTrack2 {
  animation: scroll 20s linear infinite alternate-reverse;
}

.slide {
  flex: 0 0 auto;
  padding: 10px;
}

.slide img {
  border-radius: 16px;
  max-height: 220px;
}

.imageGalleryTitle {
  padding-bottom: 3.5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: var(--secondary--color);
  max-width: 880px;
  margin: 0 auto;
}

.imageGalleryTitle span {
  color: var(--primary-color);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-95%);
  }
}

.leftbubblecircle {
  position: absolute;
  left: 0;
  top: 30%;
  transform: translate(0, -50%);
  z-index: 0;
}

.leftbubblecircle img {
  max-width: 40rem;
}

@media only screen and (max-width: 767px) {
  .imageGalleryTitle {
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .slide img {
    max-height: 110px;
  }
}