.footerlogo {
  margin-bottom: 1.25rem;
}
.footerlogo img {
  width: auto;
}
.footerContainer {
  background: var(--bg-footer);
  position: relative;
}
.footerdetails {
  flex: 1;
}
.footerlinks {
  flex: 2;
}
.footerlogotext {
  padding-right: 10rem;
}
.footerlogotext h3 {
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
}
.footerlogotext h3 span {
  color: var(--primary-color);
}

.companyinfo a {
  margin-bottom: 0.6rem;
  text-decoration: none !important;
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: left;
}

.companyinfo a img {
  margin-right: 5px;
  width: auto;
}

.sociallinks a {
  margin-right: 1rem;
  max-width: 3.5rem;
}
.footerbottomright a,
.footerbottomleft {
  color: var(--footer--primary);
  text-align: right;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
}
.footerbottomright a:first-child {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid var(--footer--primary);
}
.footerlinks h3 {
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}
.footerlinksul li a {
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}
.footerarrow{
  position: absolute;
  right: 10rem;
  top: -2rem;
}

@media only screen and (max-width: 767px) {
  .companyinfo a {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .footerlinksul li a{
    font-size: 1.5rem;
    line-height: 3rem;
  }
  .footerbottomright a, .footerbottomleft{
    font-size: 1.5rem;
  }
  .footerlogotext {
    padding-right: 0;
  }
  .footerlinks h3 {
    font-size: 2rem;
  }
}