/* .footerlogo {
  margin-bottom: 1.25rem;
} */

.footerlogo img {
  width: 90px;
}

.footerContainer {
  background: var(--secondary--color);
  position: relative;
}

.footerdetails {
  flex: 1;
}

.footerlinks {
  flex: 2;
}

.footerlogotext h3 {
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.7rem;
  max-width: 24rem;
}

.footerlogotext h3 span {
  color: var(--primary-color);
}

.companyinfo a {
  margin-bottom: 0.9rem;
  text-decoration: none !important;
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: left;
}

.companyinfo a img {
  margin-right: 7px;
}

.sociallinks a {
  margin-right: 1rem;
  height: 3.75rem;
  width: 3.75rem;
  background: var(--white-color);
  border-radius: 100%;
}

.sociallinks a img {
  height: 2rem;
  width: 2rem;
  object-fit: contain;
  filter: brightness(0) saturate(100%) invert(16%) sepia(7%) saturate(7465%) hue-rotate(183deg) brightness(92%) contrast(88%);
}

.sociallinks a:hover img {
  filter: none;
}

.footerbottomright a,
.footerbottomleft {
  color: var(--footer--primary);
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
}

.footerbottomright a:first-child {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid var(--footer--primary);
}

.footerlinks h3 {
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}

.footerlinksul li a {
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
}

.footerarrow {
  position: absolute;
  right: 10rem;
  top: -35px;
}

.footerbottom {
  background: var(--bg-footer);
}

.footerbottom :global(.container) {
  max-width: 85rem;
}

@media only screen and (max-width: 767px) {
  .companyinfo a {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .footerlinksul li a {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .footerbottomright a,
  .footerbottomleft {
    font-size: 1.5rem;
  }

  .footerlogotext h3 {
    max-width: 100%;
  }

  .footerlinks h3 {
    font-size: 2rem;
  }

  .footerarrow {
    right: 3rem;
  }
}