.resourcestripe {
  background: rgba(0, 0, 0, 0.5);
  padding: 1.1rem 0;
  margin: 4.5rem 0;
  margin-top: 2.5rem;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(180deg, #b3daa2 0%, #5bac7c 100%);
}

.resourcestripe ul {
  gap: 2rem;
}

.resourcestripe ul li img {
  margin-right: 1rem;
  width: 1.8rem;
}

.resourcestripe ul li b {
  color: var(--white-color);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  margin-right: 0.8rem;
}

.resourcestripe ul li p {
  margin-bottom: 0;
  color: var(--white-color);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.performance-img img {
  max-width: 100%;
}

.performancebox {
  border: 2px solid transparent;
  padding: 1.20rem;
  transition: 0.5s ease-in-out all;
  width: 90%;
  background: var(--white-color);
  margin-bottom: 2rem;
  position: relative;
  z-index: 5;
}

.performancebox:hover {
  border: 2px solid;
  border-image-slice: 2;
  border-image-source: linear-gradient(
    90deg,
    #ebcb5b 0%,
    #017ca1 49.5%,
    #61b946 100%
  );
}

.performancebox:after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--primary-color) 0.08%,
    var(--primary-variant-one) 99.95%
  );
  transition: width 0.8s;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -9;
}

.performancebox:hover::after {
  width: 100%;
}

.performancebox:hover h2 {
  background: linear-gradient(
    90deg,
    var(--white-color) 0.08%,
    var(--white-color) 99.95%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.performancebox h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.2rem;
  transition: 0.5s ease-in-out all;
  margin-bottom: 0;
  background: linear-gradient(
    90deg,
    var(--primary-color) 0.08%,
    var(--primary-variant-one) 99.95%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.performancebox p {
  color: var(--secondary--color);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: 0.22px;
  margin-bottom: 0;
}

.performancebox:hover p {
  color: var(--white-color);
  font-weight: 400;
}


@media only screen and (max-width: 1023px) {
  .performancebox {
    width: 100%;
  }
}
