.mapsection {
  position: relative;
  padding-top: 20rem;
  overflow: hidden;
  background: #fff;
}

.titletext h2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 42px;
  color: var(--secondary--color);
  margin-top: 0;
  margin: 1rem 0;
}

.titletext h2 span {
  background: linear-gradient(90deg, #168944 0.08%, #40aa46 99.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  border-bottom: 3px solid #40aa46;
}

.mapContainer {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 4rem;
}

.mapContainer>div>img {
  max-width: 1100px;
  margin-left: auto;
}

.mapContainer .pin {
  -webkit-animation: pulsate 5s linear infinite;
  -moz-animation: pulsate 5s linear infinite;
  animation: pulsate 5s linear infinite;
  position: absolute;
  width: 40px;
}

.hawaiipin {
  top: 150px;
  right: 900px;
}

.californiapin {
  top: 90px;
  right: 840px;
}

.texaspin {
  top: 110px;
  right: 810px;
}

.ahmedabadpin {
  top: 150px;
  right: 315px;
}

.mumbaipin {
  top: 185px;
  right: 308px;
}

.hyderabadpin {
  top: 190px;
  right: 290px;
}

.sydneypin {
  bottom: 100px;
  right: 130px;
}

.customContainer {
  position: relative;
  z-index: 1;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.inlinecity {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.inlinecity img {
  border-radius: 100%;
  margin-right: 15px;
  width: 35px;
}

.inlinecity h3 {
  color: #1d3557;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-transform: capitalize;
  margin-bottom: 0;
  transition: 0.5s;
  border-bottom: 1px solid transparent;
}

.addressbox:hover .inlinecity h3 {
  color: #1e8f45;
  border-bottom: 1px solid #1e8f45;
}

.addressbox p {
  color: #617289;
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 0;
  /* width: 83%; */
}

/* 
@media only screen and (max-width: 1199px) {
  .map {
    top: 0;
    right: 0;
    width: 100%;
    position: inherit;
  }

  .mapsection {
    position: relative;
    padding-top: 0rem;
    overflow: hidden;
    background: #fff;
  }

  .hawaiipin {
    left: 18%;
    top: 22%;
  }

  .californiapin {
    left: 20%;
    top: 22%;
  }

  .texaspin {
    left: 22%;
    top: 25%;
  }

  .ahmedabadpin {
    top: 34%;
    left: 68%;
  }

  .mumbaipin {
    top: 36%;
    left: 69%;
  }

  .hyderabadpin {
    top: 39%;
    left: 70%;
  }

  .sydneypin {
    top: 73%;
    left: 85%;
  }
} */

@media only screen and (max-width: 1100px) {
  .mapContainer>div>img {
    max-width: 768px;
  }

  .texaspin {
    top: 7rem;
    right: 56rem;
  }

  .hawaiipin {
    top: 5rem;
    right: 58rem;
  }

  .californiapin {
    top: 9.5rem;
    right: 62rem;
  }

  .sydneypin {
    bottom: 7rem;
    right: 8rem;
  }

  .mumbaipin {
    top: 11.5rem;
    right: 20.9rem;
    z-index: 1;
  }

  .ahmedabadpin {
    z-index: 0;
    top: 9.5rem;
    right: 21.6rem;
  }

  .hyderabadpin {
    top: 12rem;
    right: 20rem;
    z-index: 1;
  }
}

@media only screen and (max-width: 767px) {
  .mapsection {
    padding-top: 0;
  }

  .mapContainer {
    position: inherit;
    top: 0;
  }

  .mapContainer>div>img {
    width: 100%;
  }

  .pin {
    right: auto
  }

  .hawaiipin {
    top: 21%;
    left: 12%;
  }

  .californiapin {
    left: 22%;
    top: 16%;
  }

  .texaspin {
    left: 20%;
    top: 12%;
  }

  .ahmedabadpin {
    top: 25%;
    left: 66%;
  }

  .mumbaipin {
    top: 29%;
    left: 66%;
  }

  .hyderabadpin {
    top: 34%;
    left: 68%;
  }

  .sydneypin {
    right: 10%;
    bottom: 19%;
  }

  .titletext h2 {
    font-size: 22px;
  }

  .inlinecity {
    margin-bottom: 8px;
  }

  .inlinecity img {
    margin-right: 10px;
    width: 28px;
  }

  .inlinecity h3 {
    font-size: 17px;
    line-height: 30px;
  }

  .addressbox p {
    font-size: 15px;
    line-height: 24px;
  }
}