.mapsection {
    position: relative;
    padding-top: 20rem;
    overflow: hidden;
    background: #fff;
  }

.mapcontainer {
    position: relative;
    width: 82%;
    max-width: 1200px;
    margin-left: auto;
}

.map {
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 82%;
    object-fit: contain;
    object-position: top;
}

.container {
    max-width: 1140px;
    width: 100%;
    z-index: 1;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.titletext h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 42px;
    color: var(--secondary--color);
    margin-top: 0;
    margin: 1rem 0;
}

.titletext h2 span {
    background: linear-gradient(90deg, #168944 0.08%, #40aa46 99.95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    border-bottom: 3px solid #40aa46;
}

.hawaiipin {
    top: 13%;
    left: 33.5%;
}

.californiapin {
    top: 20%;
    left: 31%;
}

.texaspin {
    top: 15%;
    left: 35.5%;
}

.ahmedabadpin {
    top: 22%;
    right: 23.2%;
}

.mumbaipin {
    top: 23.8%;
    right: 22.5%;
}

.hyderabadpin {
    top: 25%;
    right: 21.8%;
}

.sydneypin {
    top: 44%;
    left: 85%;
}

.mapsection .pin img {
    width: 45px;
    opacity: 0.8;
}

.mapsection .pin {
    -webkit-animation: pulsate 5s linear infinite;
    -moz-animation: pulsate 5s linear infinite;
    animation: pulsate 5s linear infinite;
    position: absolute;
    transform: translate(-50%, -50%);
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.inlinecity {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.inlinecity img {
    border-radius: 100%;
    margin-right: 15px;
    width: 35px;
}

.inlinecity h3 {
    color: #1d3557;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-transform: capitalize;
    margin-bottom: 0;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
}

.addressbox:hover .inlinecity h3 {
    color: #1e8f45;
    border-bottom: 1px solid #1e8f45;
}

.addressbox p {
    color: #617289;
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 0;
    width: 83%;
}
