/* .container {
  max-width: 78rem;
} */

.techsubcontainer {
  padding: 4rem 5rem;
}

.techstartupbg {
  background: var(--primary-background);
  box-shadow: 10px 0px 0px 0px var(--white-color);
}

.leftradientshape {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.rightradientshape {
  position: absolute;
  width: auto;
  top: 0;
  right: 0;
}

.subtitle {
  color: var(--secondary--color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.5rem;
  text-align: center;
  text-align: left;
}

.techstartupbg .new-Primary-btn {
  margin-right: auto;
  margin-left: inherit;
}

.techstartupbg h2 {
  color: var(--secondary--color);
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.25rem;
  margin: 0;
  text-align: left;
}

.techstartupbg h2 b {
  font-weight: 800;
}

.techstartupbg h2 span {
  font-weight: 800;
  color: var(--primary-color);
}

.techstartupbg p {
  font-size: 1.5rem;
  line-height: 2.75rem;
  opacity: 0.7;
}

.casestudytech h2 {
  font-weight: 700;
}

.casestudytech p {
  opacity: 1;
}

.newPrimarybtn {
  margin-left: initial;
  margin-right: auto;
}

.techbgbtn a {
  margin-left: initial;
  margin-right: auto;
}

.techcasestudycontainer h2 {
  margin-bottom: 2.5rem;
}

.techcasestudycontainer h2 span {
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .techbgbtn a {
    margin-left: auto;
  }
  .techsubcontainer {
    padding: 2rem 1rem;
  }
}