/* .active::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 4px;
    background: linear-gradient(90deg, var(--primary-color) 0.08%, var(--primary-variant-one) 99.95%);
    left: 0;
    right: 0;
    margin: 0 auto;
} */
.active{
    border-bottom: 4px solid var(--primary-color);
}

@media only screen and (max-width: 767px) {
    .active::after {
        width: 100%;
        height: 2px;
    }
}