.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 4px;
    background: linear-gradient(90deg, var(--primary-color) 0.08%, var(--primary-variant-one) 99.95%);
    left: 0;
    right: 0;
    margin: 0 auto;
}